@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after 
    { animation: none !important; 
    transition: none !important; } 
}

@font-face {
    src: url("fonts/WarblerVariable[opsz\,wght]-Edu.woff2") format("woff2");
    font-family: "Warbler";
    font-style: normal;
    font-weight: normal;
    }

@font-face {
    src: url("fonts/WarblerVariable-Italic[opsz\,wght]-Edu.woff") format("woff2");
    font-family: "WarblerItalic";
    font-style: normal;
    font-weight: normal;
    }
    
body{
    background-color: #F7F5EF;
    font-family: "Warbler";
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* where to change the width of the columns on desktop view */
    width: min(100% - 3rem, 95ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */


@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h"
    "v"
    "a";
}

#inspiration {
grid-area: h;
}

#variations{
grid-area: v;
}

#alphabet {
grid-area: a;
}
}
/* CSS for the footer */
footer{
    background-color: #F7F5EF;
    height:200px;
}

/* font styling area */
h2{
    color: #40311E;
    font-family: "WarblerItalic";
    font-size: 48px;
    font-variation-settings: "opsz" 48, "wght" 700;
}

h3{
    font-weight:20; 
    text-align: center;
    font-size: 200px; 
    color: #EAE1D7;
    /*animation: weightChange 7s infinite;*/
}
/* where the animation has changed */
h4{
    font-weight: 20;
    text-align: center;
    margin-top: -441px;
    font-size: 200px;
    font-family: "WarblerItalic";
    color: #40311E;
}

p{
    font-size: 40px;
    font-variation-settings: "opsz" 40, "wght" 400;
}
@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 15, "wght" 400;
    }
    50%{font-variation-settings: "opsz" 96, "wght" 700;
    }
}
/* animations for the variations section */
.weight{
    animation: weightVariations 5s infinite;
}
@keyframes weightVariations {
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 16, "wght" 900, "slnt" 0;
    }
}
/* where the animation is for the width change */
.weight{
    animation: weightVariations 5s infinite;
}
@keyframes sizeVariations {
    0%, 100%{
        font-variation-settings: "opsz" 15, "wght" 400;
    }
    50%{font-variation-settings: "opsz" 96, "wght" 400;
    }
}
.size{
    animation: sizeVariations 5s infinite;
}
h5{
    font-weight: 20;
    font-size:40px;
    color:blue;
    margin:15px;
}

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

